node_modules
keys.zsh
versions

*.zwc
.config/zsh/private/
.config/hypr/custom/private.env
.config/zsh/plugins/

.uuid
.serena/

*.log

__pycache__

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.beads/proxieddb/
