[Desktop Entry]
Name[ar]=لوترس
Name[be]=Lutris
Name[de]=Lutris
Name[el]=Lutris
Name[es]=Lutris
Name[fa]=لوتریس
Name[fr]=Lutris
Name[hr]=Lutris
Name[it]=Lutris
Name[ka]=Lutris
Name[ko]=Lutris
Name[nb]=Lutris
Name[nl]=Lutris
Name[pl]=Lutris
Name[pt_BR]=Lutris
Name[pt_PT]=Lutris
Name[ru]=Lutris
Name[tr]=Lutris
Name[vi]=Lutris
Name[zh_CN]=Lutris
Name=Lutris
StartupWMClass=net.lutris.Lutris
Comment[ar]=منصَّة حفظ ألعاب الفيديو
Comment[be]=Платформа для захавання відэагульняў
Comment[el]=Πλατφόρμα Διατήρησης Βιντεοπαιχνιδιών
Comment[es]=Plataforma de Preservación de Videojuegos
Comment[fa]=سکو نگه‌داری بازی‌های ویدیویی
Comment[fr]=Plateforme de préservation de jeux vidéo
Comment[it]=Piattaforma di Preservazione di Videogiochi
Comment[ka]=პლატფორმა ვიდეოთამაშების შესანახად
Comment[ko]=오픈소스 비디오 게임 플랫폼
Comment[nb]=Plattform for bevaring av videospill
Comment[nl]=Videogame-bewaarplatform
Comment[pl]=Platforma konserwacji gier wideo
Comment[pt_BR]=Plataforma de preservação de video games
Comment[pt_PT]=Plataforma de preservação de videojogos
Comment[ru]=Площадка для сохранения видеоигр
Comment[tr]=Video Oyunu Dağıtım  Platformu
Comment[vi]=Nền tảng bảo quản trò chơi điện tử
Comment[zh_CN]=电子游戏保存平台
Comment=Video Game Preservation Platform
Categories=Game;PackageManager;
Keywords[ar]=gaming;wine;emulator;لعب;واين;محاكي;
Keywords[be]=gaming;wine;emulator;
Keywords[de]=gaming;spielen;wine;emulator;
Keywords[el]=gaming;wine;εξομοιωτής;
Keywords[es]=juego;wine;emulador;
Keywords[fa]=بازی؛واین؛شبیه‌ساز؛
Keywords[fr]=gaming;wine;emulator;jeux;émulateur;
Keywords[hr]=igranje;wine;emulator;
Keywords[it]=gaming;wine;emulatore;
Keywords[ka]=gaming;wine;emulator;თამაშები;
Keywords[ko]=gaming;wine;emulator;
Keywords[nb]=spilling;wine;emulator;
Keywords[nl]=gaming;spellen;wine;emulator;
Keywords[pt_BR]=gaming;wine;emulação;
Keywords[pt_PT]=jogos;gaming;wine;emulador;
Keywords[ru]=gaming;wine;emulator;
Keywords[tr]=oyun;wine;emülator
Keywords[vi]=chơi game;wine;trình giả lập;
Keywords[zh_CN]=游戏;wine;模拟器;
Keywords=gaming;wine;emulator;
TryExec=lutris
Exec=env GTK_USE_PORTAL=1 lutris %U
Icon=net.lutris.Lutris
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/lutris;application/x-lutris;
X-GNOME-UsesNotifications=true
