input[type="email"], 
input[type="number"], 
input[type="tel"], 
input[type="text"], 
input[type="url"]
{
  background: black;
  color: #ccc !important;
}

input[type="password"]
{
  background: yellow;
  color: black;
}
