configuration {
    modi: "drun,window,run,filebrowser";
    display-drun: "Apps";
    display-window: "Windows";
    display-run: "Run";
    display-filebrowser: "Files";
    show-icons: true;
    icon-theme: "breeze-dark";
    drun-display-format: "{name}";
    window-format: "{w} · {c}";
    font: "JetBrainsMono Nerd Font 10";
    terminal: "st";
    fallback-icon: "application-x-executable";
}

@theme "amp"
